# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.WebAppWithGraphQL.iml
# Datasource local storage ignored files
/../../../../../../../:\Repos\RiderProjects\WebAppWithGraphQL\.idea\.idea.WebAppWithGraphQL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
