.clr-main {
    background-color: #f8f8f8;
}

.clr-selected {
    background-color: #f2f2f2;
}

.list-head-padding {
    padding: 14px;
}

.vh-91{
    height:91vh;
}

.note-title{
    padding:4px 14px;
}

.note-body{
    padding:0px 14px;
    font-weight:lighter;
    font-size:14px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.validation-message{
    color:red;
}