@using Notes.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager NavifationManager

<div class="@Class border-bottom" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" @onclick="@(()=>OnMouseClick(Model.Id))">
    <div class="note-title">
        @Model.Title
    </div>
    <div class="note-body">
        @Model.Description
    </div>
</div>

@code {

    public void OnMouseOver() => Class = "clr-selected";

    public void OnMouseOut() => Class = "";

    public void OnMouseClick(int noteId) =>  NavifationManager.NavigateTo($"/note/edit?noteId={noteId}");

    [Parameter]
    public Note Model { get; set; }

    public string Class { get; set; }
}
