@using Notes.Models

<div class="container mw-100">
    <div class="row">
        <div class="col-4 clr-main">
            <header class="border-bottom">
                <div class="list-head-padding">
                    <h4>Notes</h4>
                </div>
            </header>
            <div class="vh-91">
                @foreach (var note in Notes)
                {
                    <NoteComponent Model="note" OnClickNoteCallBack="OnClickNoteCallBack"/>
                }
            </div>
        </div>
        <div id="noteCard" class="col-8">
            <EditNote Model="SelectedNote"/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<Note> Notes { get; set; }

    public Note SelectedNote { get; set; }

    public void OnClickNoteCallBack(Note selectedNote)
    {
        SelectedNote = selectedNote;
    }
}
