.movie-body {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height:150px;
}

.movie-selected {
    background-color: #f2f2f2;
}

.comment-author{
    font-weight:bold;
    font-size:14px;
}

.comment-createdate {
    font-size: 12px;
    color:darkgray;
}
