@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Online Cinema";
}

<div class="row p-2">
    @foreach (var movie in Model)
    {
        <component type="typeof(MovieComponent)" render-mode="ServerPrerendered" param-Model="movie" />
    }
</div>

