@using Notes.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject NavigationManager NavigationManager


<div class="@Class border-bottom" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" @onclick="@(()=>OnMouseClick(Model.Id))"
     pag-action="Edit" page-model="@Model.Id">
    <div class="note-title">
        @Model.Title
    </div>
    <div class="note-body">
        @Model.Description
    </div>
</div>

@code {

    public void OnMouseOver() => Class = "clr-selected";

    public void OnMouseOut() => Class = "";

    public void OnMouseClick(int noteId) => NavigationManager.NavigateTo($"/Note/Edit?noteId={noteId}", true);

    [Parameter]
    public Note Model { get; set; }

    public string Class { get; set; }
}
