@page
@model WebApp.Pages.List

@{
    ViewData["Title"] = "ToDo List";
}

<header id="navigation" class="p-navigation">
    <div class="p-navigation__row">
        <div class="p-navigation__banner">
            <div class="p-navigation__logo">
                <a class="p-navigation__item" href="#">
                    <img class="p-navigation__image" src="assets/logo.webp" width="40">
                </a>
            </div>
        </div>

        <nav class="p-navigation__nav" aria-label="Example main navigation">
            <ul class="p-navigation__items">
                <li class="p-navigation__item is-selected">
                    <a class="p-navigation__link" href="#">Tasks</a>
                </li>
                <li class="p-navigation__item">
                    <a class="p-navigation__link" href="#">About</a>
                </li>
            </ul>
            <ul class="p-navigation__items">
                <li class="p-navigation__item--dropdown-toggle" id="link-4">
                    <a class="p-navigation__link" aria-controls="account-menu">
                        @Model.UserName
                    </a>
                    <ul class="p-navigation__dropdown--right" id="account-menu" aria-hidden="true">
                        <li>
                            <a href="#" class="p-navigation__dropdown-item">Sign out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>


<script>
Vue.createApp({
 
    
});
</script>