@page
@model WebApp.Pages.Signin

@{
    ViewData["Title"] = "Sign in";
}

<div id="singin" class="row p-card">
    <h3>Sign in to To-Do List</h3>
    <div class="col-4 col-medium-3 p-card__content">
        <div v-if="apiError" class="p-notification--negative">
            <div class="p-notification__content">
                <h5 class="p-notification__title">Error</h5>
                <p class="p-notification__message">{{username}} is not found</p>
            </div>
        </div>
        <form>
            <div class="p-form__group p-form-validation" v-bind:class="{'is-error': usernameIsEmpty}">
                <label for="login-input">User name</label>
                <div class="p-form__control">
                    <input id="login-input" type="text" v-model="username"/>
                    <p v-if="usernameIsEmpty" class="p-form-validation__message">Please enter an user name</p>
                </div>
            </div>
            <div class="p-form__group p-form-validation" v-bind:class="{'is-error': passwordIsEmpty}">
                <label for="password-input">Password</label>
                <div>
                    <input id="password-input" type="password" v-model="password"/>
                    <p v-if="passwordIsEmpty" class="p-form-validation__message">Please enter a password</p>
                </div>
            </div>
        </form>
        <div>
            <button v-on:click="signIn">Sign in</button>
            <a asp-page="/Signup">Or sing up?</a>
        </div>
    </div>
</div>

<script>
  Vue.createApp({
    data() {
      return {
        username: '',
        password: '',
        submitted: false,
        apiError: false
      }
    },
    computed:{
        usernameIsEmpty:function (){
            if (!this.submitted)
                return false;
            
            return !this.username && this.username.length === 0;
        },
        passwordIsEmpty:function (){
            if (!this.submitted)
                return false;
            
            return !this.password && this.password.length === 0;
        }
    },
    methods: {
        signIn : function (){
            this.submitted = true;
            
            if (this.usernameIsEmpty || this.passwordIsEmpty)
                return;
            
            axios.post('@Model.BaseUrl/api/users/signin',{
                login: this.username,
                password: this.password
            }).then(response => {                
                var url = '@Url.PageLink("/List")';
                window.location.href = url + '?userId=' + response.id + '&userName='+response.login;
            }).catch(error => {
                this.apiError = true;
            });
        }
    }
  }).mount('#singin')
</script>