@page "/Table"
@using Metatable.Models
@using Metatable.Enums
@inject Services.IMetaService Service
<h3>Metatable</h3>

<button class="btn btn-primary" @onclick="OnCreateTable">Create a table</button>


@if (_table != null)
{
    <Metatable.Compenets.TableComponent Model="_table"></TableComponent>
}

@code {
    private int _count;
    private View _table;

    private void OnCreateTable()
    {
        _table = new View
        {
            Name = "New table",
            Objects = new List<MetaObject>
{
                new MetaObject
                {
                    Properties = new List<MetaProperty>
        {
                        new MetaProperty("Name", "Text1",PropertyType.Text),
                        new MetaProperty("Name1", "Text2", PropertyType.Text),
                        new MetaProperty("Name2", "Text3", PropertyType.Text),
                        new MetaProperty("Name3", "Text4", PropertyType.Text)
                    }
                }

            }
        };
    }
}
