<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - To-Do List</title>
    <link rel="stylesheet" href="https://assets.ubuntu.com/v1/vanilla-framework-version-3.1.0.min.css"/>
</head>
<body>
<div>
    <main>
        @RenderBody()
    </main>
</div>
</body>
</html>