@page "/Table"
@using Metatable.Models
@using Metatable.Enums
@inject Services.IMetaService Service
<h3>Metatable</h3>

<button class="btn btn-primary" @onclick="OnCreateTable">Create a table</button>


@if (_model != null)
{
    <ViewComponent Model="_model"></ViewComponent>
}

@code {
    private int _count;
    private View _model;

    private void OnCreateTable()
    {
        _model = new View
        {
            Name = "New table",
            Objects = new List<MetaObject>
{
                new MetaObject
                {
                    Properties = new List<MetaProperty>
                    {
                        new MetaProperty
                        {
                            Name = "Name",
                            IsHidden = false,
                            Type = PropertyType.Text,
                            Value = "Text1"
                        },
                        new MetaProperty
                        {
                            Name = "Name2",
                            IsHidden = false,
                            Type = PropertyType.Text,
                            Value = "Text2"
                        },
                        new MetaProperty
                        {
                            Name = "Name3",
                            IsHidden = false,
                            Type = PropertyType.Text,
                            Value = "Text3"
                        },
                        new MetaProperty
                        {
                            Name = "Name4",
                            IsHidden = false,
                            Type = PropertyType.Text,
                            Value = "Text4"
                        }
                    }
                }

            }
        };
    }
}
