@using OnlineCinema.Models
@using Microsoft.AspNetCore.Components.Web

<div class="card w-25 p-1 m-1 @Class" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
         xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
         focusable="false" role="img" aria-label="Placeholder: Image cap">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#868e96"></rect>
        <text x="40%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
    </svg>
    <div class="card-body movie-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
    </div>
</div>

@code {
    [Parameter]
    public Movie Model { get; set; }

    public string Class { get; set; }

    public void OnMouseOver() => Class = "movie-selected";

    public void OnMouseOut() => Class = "";
}
